@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-theme-pink: #ec145b;
}

/* -----------ScrollBar-Start------- */
::-webkit-scrollbar {
  @apply w-0;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-theme-pink;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-theme-pink;
}

/* -----------ScrollBar-End------- */

body {
  @apply font-montserrat;
}

.text-montserrat {
  @apply font-montserrat;
}

.container {
  @apply m-auto w-full max-w-[1300px] px-4;
}

h1 {
  @apply font-montserrat text-[56px] leading-[1.2] font-medium;
}

h2 {
  @apply font-montserrat text-[52px] leading-[1.2] font-medium;
}

h3 {
  @apply font-montserrat text-[48px] leading-[1.2] font-medium;
}

h4 {
  @apply font-montserrat text-[38px] leading-[1.2] font-medium;
}

h5 {
  @apply font-montserrat text-[32px] leading-[1.2] font-medium;
}

h6 {
  @apply font-montserrat text-[24px] leading-[1.2] font-medium;
}

p {
  @apply font-montserrat text-[16px];
}

.paragraph {
  @apply font-montserrat text-lg;
}

/* ------------Media Queries-Start-----------*/

@media (max-width: 1440px) {
  .container {
    @apply max-w-[1280px];
  }

  h1 {
    @apply font-montserrat text-[52px] leading-[1.2] font-medium;
  }

  h2 {
    @apply font-montserrat text-[46px] leading-[1.2] font-medium;
  }

  h3 {
    @apply font-montserrat text-[44px] leading-[1.2] font-medium;
  }

  h4 {
    @apply font-montserrat text-[34px] leading-[1.2] font-medium;
  }

  h5 {
    @apply font-montserrat text-[28px] leading-[1.2] font-medium;
  }

  h6 {
    @apply font-montserrat text-[22px] leading-[1.2] font-medium;
  }

  p {
    @apply font-montserrat text-[16px];
  }
}

/* ---------------Mobile-Media-Queries--------------- */
@media (max-width: 767px) {
  h1 {
    @apply font-montserrat text-[40px] leading-[1.2] font-medium;
  }

  h2 {
    @apply font-montserrat text-[32px] leading-[1.2] font-medium;
  }

  h3 {
    @apply font-montserrat text-[28px] leading-[1.2] font-medium;
  }

  h4 {
    @apply font-montserrat text-[24px] leading-[1.2] font-medium;
  }

  h5 {
    @apply font-montserrat text-[22px] leading-[1.2] font-medium;
  }

  h6 {
    @apply font-montserrat text-[20px] leading-[1.2] font-medium;
  }

  p {
    @apply font-montserrat text-base;
  }
}

.overlay {
  @apply absolute top-0 right-0 bottom-0 left-0 z-10 h-full w-full bg-black opacity-40;
}

.aboutSection .flex div {
  width: calc(50% - 20px);
}

.aboutSection img {
  @apply m-auto w-[70%] object-contain;
}
